<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FineCareLisSYS.Properties.Settings.WF2010ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\WF2010.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>